.normal-day {
  background-color: initial;
  color: initial;
}

.active-day,
.work-day,
.weekend-day,
.vacation-day {
  color: #fff;
}

.active-day,
.work-day {
  background-color: $dark-slate-blue;
}

.weekend-day {
  background-color: $mantis;
}

.vacation-day {
  background-color: $hansa-yellow;
}
